@model PersonModel
@{
    ViewData["Title"]="Welcome";
}
<h2>Welcome</h2>
<p>
    Id : @Model.Id</br>
    Nome : @Model.Name</br>
    Data : @Model.BirthDate</br>
    Rg : @Model.Identification</br>
    Cpf : @Model.DocumentNumber</br>
    Estado Civil : @Model.MeritalStatus</br>
    Telefone : @Model.Phone</br>
    Endereço : @Model.Address</br>
    Genero : @Model.Gender
</p>